.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 600px;
}

header h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.instructions {
  color: #aaa;
  font-style: italic;
}

.prompt-input {
  width: 100%;
  min-height: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #333;
  color: white;
  font-size: 1em;
  resize: vertical;
}

.submit-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.submit-button:hover {
  border-color: #646cff;
}

.submit-button:disabled {
  background-color: #444;
  cursor: not-allowed;
  border-color: transparent;
}

.results-area {
  margin-top: 2rem;
  text-align: left;
  word-wrap: break-word;
}

.result-success {
  border: 1px solid #4caf50;
  background-color: #384c39;
  padding: 1rem;
  border-radius: 8px;
}

.result-error {
  border: 1px solid #f44336;
  background-color: #5c3c3a;
  padding: 1rem;
  border-radius: 8px;
}

code {
  background-color: #1a1a1a;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

.result-processing {
  border: 1px solid #007bff;
  background-color: #314050;
  padding: 1rem;
  border-radius: 8px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #646cff;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 1rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.result-card {
  background-color: #2f2f2f;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.slogan {
  font-size: 1.2em;
  font-style: italic;
}

.processing-status {
  font-weight: bold;
  color: #a2d2ff; /* Світло-блакитний для акценту */
}
